<div class="header">
  <h2>Professores</h2>
  <button mat-raised-button color="primary" (click)="abrir()">
    <mat-icon>add</mat-icon> Novo Professor
  </button>
</div>

<table mat-table [dataSource]="professores">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let p">{{ p.id }}</td>
  </ng-container>

  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef>Nome</th>
    <td mat-cell *matCellDef="let p">{{ p.nome }}</td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let p">{{ p.email }}</td>
  </ng-container>

  <ng-container matColumnDef="titulacao">
    <th mat-header-cell *matHeaderCellDef>Titulacao</th>
    <td mat-cell *matCellDef="let p">{{ p.titulacao }}</td>
  </ng-container>

  <ng-container matColumnDef="acoes">
    <th mat-header-cell *matHeaderCellDef>Acoes</th>
    <td mat-cell *matCellDef="let p">
      <button mat-icon-button color="primary" (click)="abrir(p)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="excluir(p.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
